.login-page {
  width: 360px;
  height: 500px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 1;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
   font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 1;
  background: #0000FF;
  width: 100%;
  border: 2px;
  padding: 15px;
  color: #0000ff;
  font-size: 30px;
   cursor: pointer;
}
body {
  background: #76b852; 
  font-family: "Roboto", sans-serif;
      }
h1{
  text-align: center;
}